.button-styles {
    background-color: transparent;
    border: 2px solid #66FCF1;
    color: white;
    padding: 5px 20px;
    font-family: cursive;
    font-size: medium;
    border-radius: 5px;
}

.button-styles:hover {
    cursor: pointer; 
    background-color: #323b46;
}

