.header-container {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #45A29E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container button {
    margin: 0 1rem;
}

.link-style {
    color: white;
}

.link-style:visited {
    color: white;
}