ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #EEFBFB;
    margin: 1rem;
    padding: 1rem;
    width: 25rem;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}